<script setup lang="ts">
import MyButton from "@/components/UI/MyButton.vue"
import { computed, ref } from "vue"
import MyInput from "@/components/UI/MyInput.vue"
import type { CreatePostDto } from "@/interfaces/IPost"
import { helpers, required } from "@vuelidate/validators"
import useVuelidate from "@vuelidate/core"

const emit = defineEmits<(event: "createPost", value: CreatePostDto) => void>()

const DEFAULT_NEW_POST: CreatePostDto = {
  title: "",
  body: ""
}

const post = ref<CreatePostDto>({ ...DEFAULT_NEW_POST })

const rules = computed(() => ({
  title: {
    required: helpers.withMessage(`Name is required`, required)
  },
  body: {}
}))

const v = useVuelidate(rules, post)

function createPost(): void {
  v.value.$touch()
  if (v.value.$error) {
    console.log(v.value.$error)
    return
  }

  emit("createPost", post.value)

  post.value = { ...DEFAULT_NEW_POST }
}
</script>

<template>
  <form class="flex flex-col" @submit.prevent="createPost">
    <h4 class="text-xl">Creating post</h4>
    <MyInput type="text" placeholder="Name" v-model="v.title.$model" focus name="Name" />
    <MyInput type="text" placeholder="Description" v-model="v.body.$model" name="Description" />
    <MyButton class="mt-3.5 self-end" type="submit" :disabled="v.$error">Create</MyButton>
  </form>
</template>