<script setup lang="ts">
import MyInput from "@/components/UI/MyInput.vue"
import MyButton from "@/components/UI/MyButton.vue"
import type { Post } from "@/interfaces/IPost"
import { computed } from "vue"
import { usePostsStore } from "@/stores/posts"
import { helpers, required } from "@vuelidate/validators"
import useVuelidate from "@vuelidate/core"

interface Props {
  post: Post
}

const props = defineProps<Props>()
const emit = defineEmits<{
  (event: "postWasRemoved"): void
  (event: "postWasUpdated"): void
}>()

const postUpdateDto = { ...props.post }

const postsStore = usePostsStore()

const rules = computed(() => ({
  title: {
    required: helpers.withMessage(`Name is required`, required)
  },
  body: {}
}))

const v = useVuelidate(rules, postUpdateDto)

function updatePost(): void {
  postsStore.updatePost(postUpdateDto)
  emit("postWasUpdated")
}

function removePost(): void {
  postsStore.removePost(props.post.id)
  emit("postWasRemoved")
}
</script>

<template>
  <form class="flex flex-col" @submit.prevent="updatePost">
    <h4 class="text-xl font-bold">Updating post</h4>
    <MyInput type="text" :model-value="$props.post.id.toString()" name="Id" disabled />
    <MyInput type="text" placeholder="Name" v-model="v.title.$model" name="Name" />
    <MyInput type="text" placeholder="Description" v-model="v.body.$model" name="Description" />
    <div class="mt-3.5 flex items-center justify-end gap-4">
      <MyButton @click.prevent="removePost" color="danger" :disabled="v.$error"> Remove</MyButton>
      <MyButton type="submit" :disabled="v.$error">Update</MyButton>
    </div>
  </form>
</template>