<script setup lang="ts">
import PostItem from "@/components/posts/PostItem.vue"
import type { Post } from "@/interfaces/IPost"

interface Props {
  posts: Array<Post>
}

defineProps<Props>()
</script>

<template>
  <div>
    <h3 class="text-xl">List of posts:</h3>
    <transition-group name="post-list">
      <h2 v-if="!posts.length" class="text-lg text-red-800">No data</h2>
      <PostItem v-for="post in posts" :post="post" :key="post.id" />
    </transition-group>
  </div>
</template>

<style scoped>
.post-list-move,
.post-list-enter-active,
.post-list-leave-active {
  @apply transition-all duration-200 ease-in-out;
}

.post-list-enter-from,
.post-list-leave-to {
  @apply -translate-x-7 opacity-0;
}
</style>