<script setup lang="ts">
import MyButton from "@/components/UI/MyButton.vue"
import type { Post } from "@/interfaces/IPost"
import { usePostsStore } from "@/stores/posts"

interface Props {
  post: Post
}

const props = defineProps<Props>()
const emit = defineEmits<(event: "postWasRemoved") => void>()

const postsStore = usePostsStore()

function removePost(): void {
  postsStore.removePost(props.post.id)
  emit("postWasRemoved")
}
</script>

<template>
  <div
    class="mt-4 flex flex-col gap-2.5 border-2 border-solid border-teal-600 p-4"
    @click="$router.push(`/posts/${post.id}`)"
  >
    <div>
      <div><strong>Id:</strong> {{ post.id }}</div>
      <div><strong>Name:</strong> {{ post.title }}</div>
      <div><strong>Description:</strong> {{ post.body }}</div>
    </div>
    <div class="post__btns">
      <MyButton @click.stop="removePost" color="danger"> Remove</MyButton>
    </div>
  </div>
</template>
