<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref, watch } from "vue"
import { getTime } from "@/util/timeUtils"
import useTimer from "@/hooks/useTimer"

const { now, start, stop } = useTimer(1000)

const currentTime = computed(() => getTime(now.value))
const currentTime2 = ref(getTime(now.value))
watch(now, (newValue) => {
  currentTime2.value = getTime(newValue)
})

onMounted(start)
onUnmounted(stop)
</script>

<template>
  <div class="footer flex items-center justify-between bg-slate-400 px-3.5 shadow-inner">
    <span class="time">{{ currentTime }}</span>
    <span class="time">{{ currentTime2 }}</span>
  </div>
</template>