<script setup lang="ts">
import { useRoute } from "vue-router"
import { useKeycloak } from "@josempgon/vue-keycloak"

const route = useRoute()

const { keycloak, isAuthenticated } = useKeycloak()

function isSnakeSelected(): boolean {
  return route.path === "/snake"
}
</script>

<template>
  <nav class="flex justify-between bg-slate-300 px-3.5 py-2.5 shadow-inner">
    <RouterLink to="/" active-class="selected" class="flex cursor-pointer items-center gap-1">
      <img alt="logo" src="@/assets/logo.svg" width="25" />
      <span>Home</span>
    </RouterLink>
    <div class="flex gap-3">
      <RouterLink to="/snake" active-class="text-green-500">
        <span class="no-underline">{{ isSnakeSelected() ? "🐍" : "S" }}</span>
        <span>nake</span>
      </RouterLink>
      <RouterLink to="/posts" active-class="selected">Posts</RouterLink>
      <RouterLink to="/about" active-class="selected">About</RouterLink>
      <div class="w-14 cursor-pointer text-lg text-green-700" v-if="!isAuthenticated" @click="keycloak.login()">
        Login
      </div>
      <div class="w-14 cursor-pointer text-lg text-red-700" v-else-if="isAuthenticated" @click="keycloak.logout()">
        Logout
      </div>
    </div>
  </nav>
</template>

<style scoped>
.selected {
  @apply text-teal-600 underline;
}
</style>