<script setup lang="ts"></script>

<template>
  <h1 class="mb-2.5 text-3xl">About us page:</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquid animi assumenda at beatae dolore earum
    eligendi expedita facere, harum id illum incidunt, inventore, ipsam itaque labore laudantium magnam magni maxime
    mollitia nam non odio odit optio placeat praesentium quas qui quidem quisquam similique totam ullam unde velit
    veniam veritatis vero! Alias, dolorum ipsa! Aspernatur eveniet iste voluptatibus! Animi architecto assumenda dolor
    dolorem eos explicabo, illo iusto perferendis quaerat similique sunt, unde. Ab ad adipisci aliquam aut consequatur
    dignissimos enim eum exercitationem ipsum itaque perspiciatis, quis tempora temporibus, velit, voluptatibus.
    Accusantium ad aperiam dolorem et qui quos sapiente soluta voluptatem. Ad animi asperiores cum cumque delectus
    dignissimos dolorem doloribus earum, error et ex exercitationem expedita fugit id illo incidunt, inventore ipsam
    iure iusto laudantium minus nemo neque nostrum odio officiis, perferendis quasi ratione sequi sint soluta temporibus
    tenetur veniam voluptatibus! Adipisci at consectetur deleniti eos exercitationem fuga hic illo in incidunt ipsa iste
    magnam maxime minus nesciunt odio qui quia rem repellendus reprehenderit sequi, suscipit, velit voluptatibus! Ab
    accusantium beatae consequuntur debitis dolorem facilis impedit ipsam molestiae, mollitia, omnis, quia quibusdam
    repudiandae rerum sint soluta tempora temporibus ullam vitae voluptatem voluptatum? A aperiam commodi consequuntur
    dicta doloremque ducimus eligendi facere, impedit incidunt maxime obcaecati odit, quisquam recusandae reiciendis
    sapiente veritatis voluptatem! At commodi delectus dolore facilis harum hic laudantium, nihil nostrum perspiciatis
    qui quis repudiandae soluta tempora, vel voluptatibus? Consectetur consequatur deserunt dignissimos maiores non
    quasi recusandae sunt totam, voluptatibus voluptatum. Ad asperiores commodi dolorem dolorum eos ex exercitationem
    facilis inventore ipsam ipsum iste iusto labore mollitia natus nulla obcaecati odio perferendis provident quam quas
    quia quibusdam quis quos rem repellendus saepe suscipit ut veritatis voluptate, voluptatem. Architecto eveniet nihil
    perferendis possimus ratione rerum! Deleniti eaque eos error impedit iusto molestiae natus, nihil nostrum numquam
    optio praesentium, provident quia quidem quo repellat saepe similique suscipit temporibus vero voluptatibus! A
    accusantium, at corporis delectus distinctio, doloremque in iusto labore libero necessitatibus, nulla officiis
    possimus ratione similique sunt temporibus ut! Corporis eaque laboriosam laborum magnam minus nisi quam? Consequatur
    dolorum ex excepturi maxime molestias, necessitatibus, nisi optio porro praesentium rem repellendus sed sunt totam!
    Animi aspernatur atque distinctio esse impedit iste numquam recusandae temporibus ut voluptatibus. Accusamus
    adipisci assumenda aut beatae commodi consectetur consequuntur, dolore doloremque doloribus eos error et eveniet ex
    harum illum in incidunt ipsum necessitatibus neque quisquam, quod repellendus reprehenderit repudiandae, rerum sequi
    voluptatem voluptates. Et iste laborum nulla, provident quam quasi quidem repellendus reprehenderit unde! Corporis
    eveniet modi quis ratione tempora unde vitae voluptatibus! A accusamus architecto, aspernatur atque, autem corporis
    cum cumque delectus deleniti dignissimos dolore enim expedita facere fugit, ipsa ipsam labore magnam magni minus
    molestias natus non odio quam quo ratione sequi soluta suscipit tempora tenetur veniam! Asperiores aspernatur
    debitis dolorum rerum sequi! Adipisci aliquid blanditiis dolores eos modi molestiae, nulla pariatur perferendis
    porro quam quisquam quos repellendus repudiandae suscipit, temporibus unde voluptatibus! Aliquid animi deserunt
    dignissimos dolorem, in officiis unde vel. Ad architecto commodi dolorem enim eveniet nemo optio provident rem
    soluta, vel? Deleniti ea fugit provident. Animi autem blanditiis consectetur corporis modi nihil placeat quidem
    totam? Assumenda, delectus deserunt eum excepturi hic impedit laudantium nam omnis quibusdam reprehenderit sapiente
    voluptate. At deserunt dignissimos fugit hic ipsum laudantium natus nostrum, odit quaerat ratione recusandae rem
    vitae? Ab accusamus, aliquid aspernatur assumenda cum cumque dignissimos dolor eaque earum eligendi esse excepturi
    explicabo hic id illum ipsa iure minus natus nemo nulla omnis praesentium quaerat quidem reprehenderit rerum
    sapiente tempora totam, ut vel voluptates. Animi, debitis eum maxime nulla perspiciatis sed suscipit tenetur
    voluptates. Blanditiis delectus esse eum illo incidunt iste natus pariatur placeat quaerat repellat, saepe suscipit
    ut veniam? Aut delectus dolorum eveniet fuga fugiat itaque iure laboriosam, magnam magni maxime nisi officia
    quibusdam quos recusandae reiciendis repudiandae sed, vitae voluptas voluptates voluptatibus. Accusantium est
    excepturi fuga harum impedit laboriosam omnis rem? Asperiores doloribus enim iure libero, nesciunt sunt veritatis. A
    ab, commodi consequatur cupiditate, delectus deleniti dolore dolorem eligendi eveniet exercitationem impedit labore
    modi molestias mollitia pariatur perspiciatis porro quas sed tempora tempore ut vel voluptates. Aspernatur earum,
    ipsam! Adipisci aliquam, aperiam aut culpa debitis dicta doloribus, ducimus eaque esse et eveniet expedita explicabo
    hic ipsum itaque iure labore magni nulla numquam perferendis quaerat qui ratione recusandae sequi voluptatum? A
    aliquam aliquid blanditiis cumque doloribus eligendi, et facere facilis id illum impedit inventore molestiae nam
    non, nostrum obcaecati odio quidem reiciendis saepe ullam? Aperiam consequatur, deleniti dolores eligendi enim iure
    magni minima, mollitia obcaecati odit quam qui tempore totam. Asperiores commodi consequatur delectus dicta ducimus
    et ex facere maiores nam neque numquam optio, porro possimus quis, similique soluta, voluptates? Ab accusamus
    adipisci animi consectetur corporis cumque dicta esse est eveniet facilis fuga fugit, harum impedit iusto magnam
    maiores molestias odit optio possimus quisquam rem repudiandae sapiente tempora tenetur totam ullam vero. Ab
    accusantium ad alias amet asperiores consectetur cumque deleniti dignissimos est ex expedita explicabo fugiat, illo
    illum in inventore iste itaque libero magnam magni maxime modi mollitia necessitatibus nisi nobis placeat possimus
    quas reiciendis rem reprehenderit sed similique sunt tempora ullam veniam veritatis voluptatum. Asperiores autem
    dolore dolorem doloribus, esse, harum odio odit officia, perferendis placeat quas ratione sunt ut. Accusamus aliquam
    assumenda, consequatur doloremque ea exercitationem fugiat, id illo laborum nisi obcaecati officiis porro possimus
    sit vel. Aperiam atque beatae consequatur deserunt dicta eaque error hic illo ipsum minus nam nobis quaerat quod
    repellat soluta suscipit, vitae voluptas voluptatibus. A aliquam aspernatur blanditiis consequuntur, deleniti
    deserunt dolor dolores eaque enim est eveniet fuga impedit in ipsum laboriosam, nam necessitatibus numquam officia
    perferendis perspiciatis placeat possimus quibusdam quisquam ratione recusandae unde voluptates! Ab adipisci alias
    autem dolorem enim error est expedita impedit incidunt ipsum nemo nihil, obcaecati odio officia pariatur quos
    recusandae, reiciendis suscipit ut voluptatem? A ducimus iusto molestias non odit pariatur perferendis quisquam.
    Adipisci autem, consectetur dolor dolorum earum eveniet facilis incidunt inventore ipsa, iste labore nisi nobis
    porro possimus provident quas quod quos rerum saepe sed similique, sint soluta totam vel voluptates! Commodi dicta
    earum illo in pariatur, possimus.
  </p>
</template>
