<template>
  <h1 class="mt-4 text-right text-xl">
    Vue + TS + Pinia |
    <span class="cursor-progress font-bold text-cyan-950 underline hover:decoration-double"> Tailwind </span>
  </h1>
</template>
