<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref, watch } from "vue"
import useTimer from "@/hooks/useTimer"
import useDirection from "@/hooks/useDirection"

interface Cell {
  y: number
  x: number
}

function getDefaultSnakeBody(): Cell[] {
  return [
    { y: 7, x: 8 },
    { y: 7, x: 7 },
    { y: 7, x: 6 }
  ]
}

function getRandomInt(): number {
  const minCeiled = Math.ceil(1)
  const maxFloored = Math.floor(14)
  return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled)
}

const food = ref<Cell[]>([])

function getNewFoodCell(): Cell {
  let newFood: Cell = { y: getRandomInt(), x: getRandomInt() }

  if (
    snakeBody.value.find((cell) => cell.x === newFood.x && cell.y === newFood.y) ||
    food.value?.find((cell) => cell.x === newFood.x && cell.y === newFood.y)
  ) {
    newFood = getNewFoodCell()
  }

  return newFood
}

function getNewFood(size: number): Cell[] {
  const newFood = []
  for (let i = 0; i < size; i++) {
    newFood.push(getNewFoodCell())
  }

  return newFood
}

const score = ref(0)
const snakeBody = ref<Cell[]>(getDefaultSnakeBody())
food.value = getNewFood(3)

const el = ref(null)
const { direction, forbiddenDirection } = useDirection("right", "left", el)

const headDirectionClass = computed(() => {
  switch (direction.value) {
    case "up":
      return "border-t-red-600"
    case "right":
      return "border-r-red-600"
    case "down":
      return "border-b-red-600"
    case "left":
      return "border-l-red-600"
    default:
      throw new Error("unreachable state")
  }
})

const { now, start, stop, timeout } = useTimer(1000)
watch(now, (newValue) => {
  switch (direction.value) {
    case "up":
      forbiddenDirection.value = "down"
      break
    case "right":
      forbiddenDirection.value = "left"
      break
    case "down":
      forbiddenDirection.value = "up"
      break
    case "left":
      forbiddenDirection.value = "right"
      break
  }

  const newSnakeBody = [...snakeBody.value]
  const newSnakeHead = { ...snakeBody.value[0] }
  switch (direction.value) {
    case "up":
      newSnakeHead.y--
      break
    case "right":
      newSnakeHead.x++
      break
    case "down":
      newSnakeHead.y++
      break
    case "left":
      newSnakeHead.x--
      break
  }

  if (
    newSnakeHead.x > 13 ||
    newSnakeHead.x < 1 ||
    newSnakeHead.y > 13 ||
    newSnakeHead.y < 1 ||
    snakeBody.value.find((cell) => cell.x == newSnakeHead.x && cell.y == newSnakeHead.y)
  ) {
    stop()

    snakeBody.value = getDefaultSnakeBody()
    food.value = getNewFood(3)
    score.value = 0
    direction.value = "right"
    forbiddenDirection.value = "left"
    timeout.value = 1000

    start()

    return
  }

  if (food.value.find((cell) => cell.x === newSnakeHead.x && cell.y === newSnakeHead.y)) {
    food.value = food.value.filter((cell) => cell.x !== newSnakeHead.x || cell.y !== newSnakeHead.y)
    score.value++
  } else {
    newSnakeBody.pop()
  }

  if (food.value.length === 1) {
    food.value = [...food.value, ...getNewFood(2)]
  }

  newSnakeBody.unshift(newSnakeHead)
  snakeBody.value = newSnakeBody
})

watch(score, () => {
  if (score.value % 3 === 0) {
    console.log(score.value % 3)
    timeout.value = Math.floor(timeout.value * 0.8)
    stop()
    start()
  }
})

onMounted(() => {
  document.body.style.overscrollBehaviorY = "contain"
  start()
})

onUnmounted(() => {
  document.body.style.overscrollBehaviorY = ""
  stop()
})
</script>

<template>
  <div style="height: 100%" class="relative pt-2" ref="el">
    <div class="left-3 mb-2 text-lg font-bold">
      Score:
      <span class="text-indigo-800">{{ score }}</span>
    </div>
    <div class="flex justify-center">
      <div class="flex-col gap-1 border-2">
        <div v-for="rowNumber in 13" class="flex gap-1 p-0.5">
          <div
            v-for="colNumber in 13"
            :class="[
              'h-4 w-4 border-2 p-0.5',
              {
                snakeBody: snakeBody.find((cell) => cell.y === rowNumber && cell.x === colNumber),
                food: food.find((cell) => cell.y === rowNumber && cell.x === colNumber),
                [headDirectionClass]: snakeBody[0].y === rowNumber && snakeBody[0].x === colNumber
              }
            ]"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.snakeBody {
  @apply bg-black;
}

.food:not(.snakeBody) {
  @apply rounded-full bg-indigo-800;
}
</style>