<template>
  <svg
    class="svg-icon"
    style="fill: currentColor; overflow: hidden"
    viewBox="0 0 76 76"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-width="0.5"
      d="M 28.4718,42.9497L 33.4216,38L 28.4718,33.0502L 31.0502,30.4718L 36,35.4216L 40.9498,30.4718L 43.5282,33.0502L 38.5784,38L 43.5282,42.9497L 40.9498,45.5282L 36,40.5784L 31.0503,45.5282L 28.4718,42.9497 Z M 57.9853,41.5355L 49.0354,50.4854C 47.9317,51.589 47,52 45,52L 24,52C 21.2386,52 19,49.7614 19,47L 19,29C 19,26.2386 21.2386,24 24,24L 45,24C 47,24 47.9317,24.4113 49.0354,25.5149L 57.9853,34.4645C 59.9379,36.4171 59.9379,39.5829 57.9853,41.5355 Z M 45,49C 46,49 46.3952,48.8828 46.914,48.3641L 55.8639,39.4142C 56.645,38.6332 56.645,37.3669 55.8639,36.5858L 46.914,27.6362C 46.3952,27.1175 46,27 45,27.0001L 24,27.0001C 22.8954,27.0001 22,27.8955 22,29.0001L 22,47.0001C 22,48.1046 22.8954,49.0001 24,49.0001L 45,49 Z "
    />
  </svg>
</template>
