<script setup lang="ts">
import MyNavbar from "@/components/layouts/MyNavbar.vue"
import MyFooter from "@/components/layouts/MyFooter.vue"
import { useKeycloak } from "@josempgon/vue-keycloak"
import { onMounted, ref, watch } from "vue"
import { useTempUserStore } from "@/stores/tempUser"
import useAxios from "@/hooks/useAxios"

const { isPending, isAuthenticated, token } = useKeycloak()
const tempUserStore = useTempUserStore()
const { axiosInstance, setAuthorizationHeader, setTempUserId } = useAxios()
const isInitialized = ref(false)

onMounted(() => {
  watch(isPending, async () => {
    if (isPending.value) {
      return
    }

    if (isAuthenticated.value) {
      setAuthorizationHeader(token.value)

      if (tempUserStore.tempUserId) {
        const { status } = await axiosInstance.post("/user/migrate", null, {
          params: {
            oldUserId: tempUserStore.tempUserId
          }
        })

        if (status === 200) {
          tempUserStore.clearTempUserId()
        }
      }
    } else {
      if (!tempUserStore.tempUserId) {
        tempUserStore.generateTempUserId()
      }

      setTempUserId(tempUserStore.tempUserId as string)
    }

    isInitialized.value = true
  })
})
</script>

<template>
  <div class="app-container" v-if="isInitialized">
    <header>
      <MyNavbar />
    </header>
    <main class="flex-1 px-2.5 py-1.5">
      <RouterView />
    </main>
    <footer>
      <MyFooter />
    </footer>
  </div>
</template>

<style scoped>
.app-container {
  @apply flex flex-col font-sans font-normal;
  height: 100dvh;
}
</style>