<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router'
import { usePostsStore } from "@/stores/posts"
import { computed, onMounted, ref } from "vue"
import PostUpdateForm from "@/components/posts/PostUpdateForm.vue"

const route = useRoute()
const router = useRouter()

const postId = Number(route.params.id)
const isWrongId = ref(isNaN(postId))

const postsStore = usePostsStore()

const post = computed(() => postsStore.posts.find((post) => post.id === postId))
const isLoading = ref(false)

onMounted(async () => {
  if (isWrongId.value) {
    return
  }

  isLoading.value = true
  await postsStore.fetchPostById(postId)
  isLoading.value = false
})

function goBack(): void {
  router.go(-1)
}
</script>

<template>
  <div>
    <h2 v-if="isWrongId">Incorrect post id='{{ route.params.id }}'</h2>
    <PostUpdateForm v-else-if="post" :post="post" @post-was-removed="goBack" @post-was-updated="goBack" />
    <h2 v-else-if="isLoading">Post with id='{{ postId }}' is loading</h2>
    <h2 v-else>Post with id='{{ postId }}' was removed</h2>
    <button @click="goBack" class="back-button">Go Back</button>
  </div>
</template>

<style scoped>
.back-button {
  @apply relative mt-2.5 cursor-pointer rounded-md bg-zinc-800 py-2.5 pl-6 pr-4 text-white transition-colors duration-300 ease-in-out;
}

.back-button::before {
  @apply absolute left-2.5 top-1/2 -translate-y-1/2 border-y-8 border-r-8 border-y-transparent border-r-white;
  content: "";
}

.back-button:hover {
  @apply bg-slate-950;
  content: "";
}
</style>