<script setup lang="ts">
import { ref } from "vue"
import MyInput from "@/components/UI/MyInput.vue"
import { usePostsStore } from "@/stores/posts"
import { SORT_OPTIONS } from "@/constants"
import MySelect from "@/components/UI/MySelect.vue"
import MyButton from "@/components/UI/MyButton.vue"
import PostCreateForm from "@/components/posts/PostCreateForm.vue"
import MyDialog from "@/components/UI/MyDialog.vue"
import type { CreatePostDto } from "@/interfaces/IPost"
import PostList from "@/components/posts/PostList.vue"

const postsStore = usePostsStore()

const dialogVisible = ref(false)

function showDialog(): void {
  dialogVisible.value = true
}

function createPost(post: CreatePostDto): void {
  postsStore.createPost(post)
  dialogVisible.value = false
}
</script>

<template>
  <div>
    <h1 class="text-3xl">Page with posts</h1>
    <MyInput
      v-model="postsStore.searchQuery"
      @keydown.enter.stop="postsStore.startSearching"
      placeholder="Search..."
      clearable
      name="Search"
    />
    <div class="flex justify-between py-4">
      <MyButton @click="showDialog">Create Post</MyButton>
      <MySelect
        :model-value="postsStore.selectedSort"
        @update:modelValue="postsStore.selectSort"
        :sort-options="SORT_OPTIONS"
      />
    </div>
    <MyDialog v-model:show="dialogVisible">
      <PostCreateForm @createPost="createPost" />
    </MyDialog>
    <PostList :posts="postsStore.$state.posts" />
    <div v-intersection="postsStore.fetchNextPostsPage" />
  </div>
</template>