<script setup lang="ts">
type MyButtonColor = "teal" | "danger"

interface Props {
  color?: MyButtonColor
}

withDefaults(defineProps<Props>(), {
  color: "teal"
})
</script>

<template>
  <button :class="color">
    <slot />
  </button>
</template>

<style scoped>
button {
  @apply cursor-pointer text-pretty rounded-full border-2 border-solid px-3.5 py-2.5 transition-colors duration-100;
}

.teal {
  @apply border-teal-600 text-teal-600 hover:bg-teal-600 hover:text-white;
}

.danger {
  @apply border-red-900 text-red-900 hover:bg-red-900 hover:text-white;
}
</style>
