<script setup lang="ts">
defineProps<{
  show: boolean
}>()

const emit = defineEmits<(event: "update:show", value: boolean) => void>()

function hideDialog(): void {
  emit("update:show", false)
}
</script>

<template>
  <div
    class="fixed bottom-0 left-0 right-0 top-0 z-50 flex bg-black/50"
    v-if="show"
    @click.stop="hideDialog"
    @keydown.esc.stop="hideDialog"
  >
    <div @click.stop class="mb-auto ml-auto mr-auto mt-8 min-h-12 min-w-80 rounded-xl bg-white p-5">
      <slot />
    </div>
  </div>
</template>
