<script setup lang="ts">
import IconClearInput from "@/components/icons/IconClearInput.vue"

interface Props {
  modelValue: string
  name: string
  placeholder?: string
  label?: string
  clearable?: boolean
  focus?: boolean
  disabled?: boolean
  autocomplete?: boolean
}

withDefaults(defineProps<Props>(), {
  clearable: false,
  focus: false,
  disabled: false,
  autocomplete: false
})

const emit = defineEmits<(event: "update:modelValue", value: string) => void>()

function updateInput({ target }: Event): void {
  emit("update:modelValue", (target as HTMLInputElement).value)
}

function clearInput(): void {
  emit("update:modelValue", "")
}
</script>

<template>
  <div class="relative mt-6">
    <input
      :name="name"
      type="text"
      :value="modelValue"
      @input="updateInput"
      :placeholder="placeholder"
      v-focus="focus"
      :disabled="disabled"
      v-bind="$attrs"
      :autocomplete="autocomplete ? 'on' : 'off'"
    />
    <label :for="name">
      {{ label ?? name }}
    </label>
    <IconClearInput class="clear-btn" alt="Clear input" @click="clearInput" v-if="clearable && modelValue" />
  </div>
</template>

<style scoped>
input {
  @apply w-full border-2 border-teal-600 px-3 py-2.5 outline-black;
}

input:disabled {
  @apply border-black bg-gray-700/10;
}

input::placeholder {
  color: #9ca3af;
}

input:focus::placeholder {
  @apply text-transparent duration-500;
}

.clear-btn {
  @apply absolute -right-1 -top-1 h-14 rotate-180 cursor-pointer text-black;
}

label {
  @apply absolute left-2 top-5 -z-[4]  block text-sm font-bold text-teal-600 opacity-0 duration-300;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  @apply -top-5 z-[1] opacity-100;
}
</style>