<script setup lang="ts">
import type { SortingType, SortOption } from "@/interfaces/ISortOption"

defineProps<{
  modelValue: SortingType
  sortOptions: SortOption[]
}>()

const emit = defineEmits<(event: "update:modelValue", value: SortingType) => void>()

function changeOption({ target }: Event): void {
  emit("update:modelValue", (target as HTMLSelectElement).value as SortingType)
}
</script>

<template>
  <select
    :value="modelValue"
    @change="changeOption"
    class="cursor-pointer appearance-none rounded-md border-2 border-solid border-l-stone-300 px-4 py-2 shadow transition-colors duration-300 hover:border-teal-600 focus:border-teal-600 focus:shadow-teal-600 focus:outline-0"
  >
    <option v-for="option in sortOptions" :key="option.value" :value="option.value">
      {{ option.name }}
    </option>
  </select>
</template>
